body {
    background-image: url('a.jpg');
}
input[type=text], select {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=number], select {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=date], select {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 20%;
    background-color: #a30326;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #55040d;
}

div {
    border-radius: 5px;
    background-color: #f5d7b9;
    padding: 20px;
}

button {
    width: 20%;
    background-color: #a30326;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#ticketdata {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
  }

#ticketdata td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#ticketdata tr:nth-child(even){background-color: #f2f2f2;
    text-align: center}
#ticketdata tr:nth-child(odd){background-color: #b4b3b3;
    text-align: center}

#ticketdata tr:hover {background-color: #ddd;}

#ticketdata th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #a30326;
    color: white;
    text-align: center;
}